version: "3.9"

services:
  backend:
    image: python:3.11-slim
    container_name: fastapi_backend
    working_dir: /app
    volumes:
      - ./backend:/app
    command: uvicorn main:app --host 0.0.0.0 --port 8080 --reload
    ports:
      - "8080:8080"
    environment:
      - PYTHONUNBUFFERED=1
    depends_on:
      - db 

  frontend:
    image: node:20
    container_name: nextjs_frontend
    working_dir: /app
    volumes:
      - ./frontend:/app
    command: sh -c "npm install && npm run build && npm run start"
    ports:
      - "3000:3000"
    environment:
      - NEXT_PUBLIC_API_URL=http://backend:8080 # используем имя сервиса для обращения к backend
    depends_on:
      - backend

networks:
  default:
    name: app_network
